<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.awesome.lavanya.notesapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".Notescreen"
            android:label="@string/title_activity_notescreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Notesreopen"
            android:label="@string/title_activity_notesreopen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.awesome.lavanya.notesapp.MainActivity" />
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Voicenotescreen"
            android:label="@string/title_activity_voicenotescreen"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.awesome.lavanya.notesapp.MainActivity" />
        </activity>
        <activity
            android:name=".Foldercreate"
            android:label="@string/title_activity_foldercreate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.awesome.lavanya.notesapp.MainActivity" />
        </activity>
        <activity
            android:name=".FolderOpen"
            android:label="@string/title_activity_folder_open"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FolderNote"
            android:label="@string/title_activity_folder_note"
            android:parentActivityName=".FolderOpen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.awesome.lavanya.notesapp.FolderOpen" />
        </activity>
        <activity
            android:name=".Foldernotereopen"
            android:label="@string/title_activity_foldernotereopen"
            android:parentActivityName=".FolderOpen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="my.awesome.lavanya.notesapp.FolderOpen" />
        </activity>
    </application>

</manifest> <!--  -->
